.cartograph{
	max-width: 1000px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.cartograph hr{
	margin-top: 40px;
}

div.movie-map {
	position: relative;
}

div.movie-map img {
	width: 800px;
	height: 533px;
	border: solid 1px #8a97a0;;
}

div.movie-map .circle {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: rgba(255, 0, 0, 0.8);
	position: absolute;
	top: 256px;
	left: 390px;
	border: solid 1px #000;
	/* width and height can be anything, as long as they're equal */
}

.error{
	color: red;
}

.cartograph h2{
	font-size: 1em;
	margin-top: 40px;
}
.cartograph fieldset{
	border: none;
}
.cartograph legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.cartograph label {
	display: block;
	margin-bottom: 8px;
}
.cartograph ul {
  list-style-type: none;
}
.cartograph input[type="text"],
.cartograph input[type="date"],
.cartograph input[type="datetime"],
.cartograph input[type="email"],
.cartograph input[type="number"],
.cartograph input[type="search"],
.cartograph input[type="time"],
.cartograph input[type="url"],
.cartograph textarea,
.cartograph select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 0;
	outline: 0;
	padding: 7px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
	
}
.cartograph img {
	max-width:100%;
}

.cartograph input[type="text"]:focus,
.cartograph input[type="date"]:focus,
.cartograph input[type="datetime"]:focus,
.cartograph input[type="email"]:focus,
.cartograph input[type="number"]:focus,
.cartograph input[type="search"]:focus,
.cartograph input[type="time"]:focus,
.cartograph input[type="url"]:focus,
.cartograph textarea:focus,
.cartograph select:focus{
	background: #d2d9dd;
}
.cartograph select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.cartograph .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.cartograph input[type="submit"],
.cartograph input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.cartograph input[type="submit"]:hover,
.cartograph input[type="button"]:hover
{
	background: #109177;
}