<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Cartograph Survey</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js" integrity="sha256-UOSXsAgYN43P/oVrmU+JlHtiDGYWN2iHnJuKY9WD+Jg=" crossorigin="anonymous"></script>
</head>

<body>
<div class="cartograph">

<h1>Movie Relationship Survey: Map {{  questionNum +1 }} of {{ totalMaps }}</h1>

<p>The image below shows a map where the city dots represent movies. Movies that are similar or closely related are shown closer together on the map.</p>

<div class="movie-map">
    <img src="{{ url_for('static', filename='images/maps/' + map) }}" />
    <div class="circle">&nbsp;</div>
</div>

<h2>Choose your top three choices for which movie the red dot should represent.</h2>

<form id="answerForm" action="../save/{{ (questionNum) }}">
<fieldset>
<label for="firstchoice">Top Choice:</label>
<select id="firstchoice" name="firstchoice">
  <option value="none">Choose...</option>
{% for m in options %}
  <option value="{{ m }}">{{ m }}</option>
{% endfor %}
</select>

<label for="secondchoice">Second Choice:</label>
<select id="secondchoice" name="secondchoice">
  <option value="none">Choose...</option>
{% for m in options %}
  <option value="{{ m }}">{{ m }}</option>
{% endfor %}
</select>

<label for="thirdchoice">Third Choice:</label>
<select id="thirdchoice" name="thirdchoice">
  <option value="none">Choose...</option>
{% for m in options %}
  <option value="{{ m }}">{{ m }}</option>
{% endfor %}
</select>
</fieldset>

<input type="hidden" name="workerId" value="{{ request.args.get('workerId') }}">

{% for m in request.args.getlist('seenMovies') %}
<input type="hidden" name="seenMovies" value="{{ m }}">
{% endfor %}

<input type="submit" value="Continue" />
</form>
<script>
$("#answerForm").validate();
</script>
</div>
</body>
</html>
